<!DOCTYPE html>
<html lang="en">
{% include('_head.njk') %}

<body>


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ siteConfig.sitename }}</a>
        </div>
    </nav>
    <div class="main-content container row">
        <nav class="col-2 navigation-primary navigation-primary--light border-end border-light">
            {% macro renderNavListItem(entry, sub) -%}
            {# Some interesting workarounds/conditions here to apply .is-active classes down the tree #}
            {% set isActive = page.url | startsWith(entry.name) %}
            <li class="{% if sub %}navigation-primary__sub-item{% else %}navigation-primary__item{% endif %}">
                {%- if entry.url -%}
                <a {% if entry.url==page.url %} aria-current="page" {% endif %} href="{{ entry.url | url }}">
                    <span
                        class="{% if sub %}navigation-primary__sub-link-text{% else %}navigation-primary__link-text{% endif %}">
                        {{ entry.name }}
                    </span>
                </a>
                {%- else -%}
                <span
                    class="{% if sub %}navigation-primary__sub-link-text{% else %}navigation-primary__link-text{% endif %}">
                    {{ entry.name }}
                </span>
                {%- endif -%}
                {%- if entry.children -%}
                <ul class="navigation-primary__sub-items">
                    {%- for name, child in entry.children %}
                    {{ renderNavListItem(child, true) }}
                    {% endfor -%}
                </ul>
                {%- endif -%}
            </li>
            {%- endmacro %}
            <ul class="nav flex-column navigation-primary__items">
                {%- for name, entry in collections.navPages %}
                {{ renderNavListItem(entry) }}
                {%- endfor -%}
            </ul>
        </nav>
        <div class="content container col text-left" style="overflow: auto">
            <h1 class="page-title">{{ page.fileSlug | safe }}</h1>
            {{ content | safe }}
        </div>
    </div>

    <footer class="text-sm" style="margin-top: 20px">
        Your footer goes here if you want to.
    </footer>
</body>

</html>