.ironsworn-block {
    border: 2px solid darkblue;
    padding: 4px;
    margin-bottom: 5px;
    text-align: center;
}

.ironsworn-move-result-failure {
    color: red;
}

.ironsworn-move-result-partial-success {
    color: goldenrod;
}

.ironsworn-move-result-success {
    color: green;
}

.ironsworn-move-rolls {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    column-gap: 2px;
    row-gap: 2px;
}

.ironsworn-character-info {
    text-align: left;
}

.ironsworn-character-info h1 {
    text-align: center;
}

.ironsworn-character-info h2 {
    font-size: 1.2rem;
}

.ironsworn-character-special-tracks .track {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.ironsworn-character-special-tracks .track li {
    display: block;
    border-radius: 5px;
    border: 3px solid black;
    height: 50px;
    width: 50px;
    background-position: 0px;
    background-size: 100%;
    background-repeat: none;
}

.ironsworn-character-special-tracks .track .full {
    background-image: url("/assets/img/full.svg");
}

.ironsworn-character-special-tracks .track .progress-1 {
    background-image: url("/assets/img/progress-1.svg");
}

.ironsworn-character-special-tracks .track .progress-2 {
    background-image: url("/assets/img/progress-2.svg");
}

.ironsworn-character-special-tracks .track .progress-3 {
    background-image: url("/assets/img/progress-3.svg");
}

.ironsworn-character-stats .shadow {
    box-shadow: none !important;
}

.ironsworn-character-stats {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;
}

.ironsworn-character-stats div {
    text-align: center;
}

.ironsworn-character-stats h3 {
    text-decoration: underline;
}

.ironsworn-move-rolls span {
    display: inline-block;
    text-align: center;
    height: auto;
}

.ironsworn-meter {
    border-color: darkred;
}

.ironsworn-block .meter-name {
    font-weight: bold;
}

.ironsworn-block .delta {
    font-weight: bold;
}

.ironsworn-block .delta.positive {
    color: green;
}

.ironsworn-block .delta.negative {
    color: red;
}

span.roll-prop {
    border: 3px solid var(--silver-lake-blue);
}

span.roll-numeric {
    font-weight: bold;
}

span.roll-operator {
    font-size: 2rem;
}

span.vs-label {
    grid-column: 4 / 5;
    grid-row: 2;
}

span.roll-vs {
    border: 2px solid black;
}

.vs1 {
    grid-column: 6 / 7;
    grid-row: 2;
}

.vs2 {
    grid-column: 7 / 8;
    grid-row: 2;
}
